/* @media (min-width: 325px) {
	.Main {
		height: 100vh;
	}
} */
.Main {
	width: 100%;
	height: 100%;
	background: url("../kevin-ku-w7ZyuGYNpRQ-unsplash.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.Main::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #1f29379a;
}
@media (min-width: 400px) {
	.Main {
		height: 100vh;
	}
}
/* @media only screen and (device-width: 360px) and (max-device-width: 767px) {
	.Main {
		height: 100vh;
	}
} */
/* medid queries for iphone x */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main {
		height: 100vh;
	}
}
@media only screen and (device-width: 360px) and (device-width: 640px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main {
		height: 100%;
	}
}
@media only screen and (min-device-width: 360px) and (min-device-height: 767px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main {
		height: 100vh;
	}
}
@media only screen and (min-device-width: 375px) and (min-device-height: 800px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main {
		height: 100vh;
	}
}
/* @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
	.Main {
		height: 100%;
	}
} */

.heading-text {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: auto;
	padding: 0 3rem;
	z-index: 5;
	/* text-align: center; */
}
.heading-text p {
	color: white;
	font-size: 24px;
	padding: 2rem 0;
	/* background: rgba(41, 41, 41, 0.671); */
}
.title {
	/* border-bottom: 2.5px solid white; */
	margin-top: 1.1rem;
	font-size: 17px;
	font-weight: 700;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.title div {
	margin-right: 3px;
	width: 30px !important;
	height: 3px !important;
	border-bottom: 2.5px solid white;
}
.title p {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 14px;
	font-weight: bolder;
}
.playfair {
	font-family: 'Playfair Display', serif;
}
.home-name {
	font-size: 6rem;
}
.socials {
	position: fixed;
	left: 2.3rem;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 15;
}
.socials a {
	color: white;
	font-size: 1.2rem;
	margin-bottom: 5px;
	transition: 500ms;
}
.socials a:hover {
	color: #e45447;
}
.socials .Line {
	height: 100px;
	border-left: 1px solid white;
}
@media (max-width: 991px) {
	.home-name {
		font-size: 4.5rem;
	}
	.heading-text p {
		font-size: 20px;
		padding: 1.2rem 0rem 1.3rem 0rem;
	}
	.title {
		font-size: 14px;
	}
	.title p {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 18px;
		font-weight: bolder;
	}
	.socials {
		left: 1rem;
	}
	.socials a {
		font-size: .9rem;
	}
}
@media (max-width: 400px) {
	.home-name {
		font-size: 3.5rem;
	}
	.hello {
		font-size: 21px;
	}
}
@media (max-width: 400px) {
	.heading-text {
		padding-top: 9rem;
		padding-bottom: 3rem;
	}
}
.hello {
	font-size: 26px;
	margin-bottom: 0 !important;
}

.action {
	width: 100%;
}
