.Main {
	width: 100%;
	height: 100vh;
	background: url("../kevin-ku-w7ZyuGYNpRQ-unsplash.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.Main::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #1f29379a;
}
.heading-text {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: auto;
	padding: 0 3rem;
	z-index: 5;
	/* text-align: center; */
}
.heading-text p {
	color: white;
	font-size: 24px;
	padding: 2rem 0;
	/* background: rgba(41, 41, 41, 0.671); */
}
.title {
	border-bottom: 2.5px solid white;
	font-size: 17px;
	font-weight: 700;
}
.playfair {
	font-family: 'Playfair Display', serif;
}
.home-name {
	font-size: 6rem;
}
@media (max-width: 991px) {
	.home-name {
		font-size: 4.5rem;
	}
	.heading-text p {
		font-size: 20px;
		padding: 1.2rem 0.6rem 1.3rem 0.6rem;
	}
	.title {
		font-size: 14px;
	}
}
.hello {
	font-size: 26px;
	margin-bottom: 0 !important;
}

.action {
	width: 100%;
}
