.NavBar {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.hamburger {
	display: none;
}
.Nav {
	width: 93%;
	margin-top: 2rem;
}
.nav-items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* margin: 0 auto; */
	color: white;
	align-items: center;
}
.nav-items a {
	color: white;
	font-weight: 400;
	transition: 500ms;
}
.nav-items a:hover {
	color: #e45447;
}

.nav-items img {
	width: 45px;
	height: 45px;
}
@media (max-width: 676px) {
	.Nav {
		margin-top: 0;
	}
	.NavBar {
		margin-top: 1.5rem;
		padding: 0 10px;
	}
	.hamburger {
		display: block;
	}
	.NavLinks {
		display: none;
	}
}
.navActive {
	position: relative;
	color: #e45447 !important;
}

.navActive::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100%;
	height: 2px;
	transition: 300ms;
	border-bottom: 2px solid white;
}

.rotate {
	transform: rotate(720deg) !important;
	transition: 700ms;
	/* animation: rotate; */
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
