.section-padding-80-0 {
	padding-top: 80px;
	padding-bottom: 0;
}
/* :: 4.0 Heading CSS */
.section-heading {
	position: relative;
	z-index: 1;
	margin-bottom: 50px;
}
.section-heading h2 {
	font-size: 36px;
	text-transform: capitalize;
	margin-bottom: 5px;
	display: block;
	line-height: 1.2;
}
@media only screen and (max-width: 767px) {
	.section-heading h2 {
		font-size: 30px;
	}
}
.section-heading p {
	margin-bottom: 0;
}
.section-heading.white p,
.section-heading.white h2 {
	font-weight: 700;
	color: #ffffff;
}
.why-choose-us-content {
	-webkit-transition-duration: 800ms;
	-o-transition-duration: 800ms;
	transition-duration: 800ms;
	background-color: #ffffff;
	padding: 80px 30px 50px;
	border-radius: 10px;
	box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 1;
	margin-top: 50px;
}
.why-choose-us-content .chosse-us-icon {
	-webkit-transition-duration: 800ms;
	-o-transition-duration: 800ms;
	transition-duration: 800ms;
	height: 76px;
	width: 76px;
	/* color: #e45447; */
	background-color: #e45447;
	display: inline-block;
	text-align: center;
	line-height: 76px;
	border-radius: 50%;
	color: #ffffff;
	font-size: 30px;
	position: absolute;
	top: -38px;
	left: 50%;
	margin-left: -38px;
}
.why-choose-us-content h1 {
	/* font-size: 20px; */
	font-weight: 700;
	margin-bottom: 15px;
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
}
.why-choose-us-content p {
	-webkit-transition-duration: 800ms;
	-o-transition-duration: 800ms;
	transition-duration: 800ms;
	font-size: 14px;
	margin-bottom: 0;
}
.why-choose-us-content:hover,
.why-choose-us-content:focus {
	background-color: #e45447;
	color: #ffffff !important;
}
.why-choose-us-content:hover .chosse-us-icon,
.why-choose-us-content:focus .chosse-us-icon {
	background-color: #000000;
	box-shadow: 0 5px 15px 2px rgba(255, 255, 255, 0.15);
}
.why-choose-us-content:hover .primary-btn.whitee,
.why-choose-us-content:focus .primary-btn.whitee {
	background: #000;
}
.why-choose-us-content:hover h4,
.why-choose-us-content:hover p,
.why-choose-us-content:focus h4,
.why-choose-us-content:focus p {
	color: #ffffff !important;
}
.primary-btn.whitee {
	background: #e45447;
}
.primary-btn.whitee span {
	color: #fff;
}
.primary-btn.whitee:before {
	color: #fff;
}
.primary-btn.whitee:hover {
	background: #000000;
	color: #fff;
}
.primary-btn.whitee:hover span {
	color: #fff;
}
